html,
body,
#app {
    height: 100%;
    margin: 0px;
    position: relative;
    padding: 0px;
    /* background-color:#f4f4f4; */
}

#particles-js {
    width: 100%;
    min-height: 100vh;
    /* overflow: hidden; */
    z-index: -1;
    background-size: 100% 100%;
    position: fixed;
    background: #eeeeee;
}

.el-input {
    margin-bottom: 0px;
}

.el-breadcrumb {
    margin-bottom: 20px;
}

.el-cascader-menu {
    height: 600px;
}

.ql-editor {
    min-height: 400px;
}